<div class="single-field-submit {{{classes}}}" {{{params}}}>
	<input type="{{{type}}}" placeholder="{{{placeholder}}}" maxlength="50" {{{inputParams}}}>
	<button type="submit">
		{{{submit}}}
		{{svg 'arrow-right' classes='arrow'}}
	</button>
</div>