{{!--
Params:
	classes
	params
	title
	name
	placeholder
	required
--}}
<div class="textarea-labeled {{{classes}}}" {{{params}}}>
	{{#if title}}
		<label class="metadata" for="{{{name}}}">{{{title}}}</label>
	{{/if}}
	<textarea
	{{#if name}}name="{{{name}}}"{{/if}}
	{{#if placeholder}}placeholder="{{{placeholder}}}"{{/if}}
	{{#if required}}required{{/if}}
	{{#if error}}data-msg-required="{{{error}}}"{{/if}}></textarea>
	{{#if metadata}}
		<p class="info">{{metadata}}</p>
	{{/if}}
</div>
