<label class="checkbox-labeled {{{classes}}}" {{{params}}}>
	<input type="checkbox" name="{{{name}}}" {{#if checked}}checked{{/if}} {{#if disabled}}disabled{{/if}} {{{childParams}}}>
	<span class="metadata">
		{{{title}}}
	</span>
	{{svg 'icon-check' classes='check svg' }}
</label>
