<label class="radio-labeled {{{classes}}}" {{{params}}}>
	<input type="radio" name="{{{name}}}" {{#if checked}}checked{{/if}} {{{childParams}}}>
	<span class="metadata">
		{{{title}}}
		{{#if tooltip}}
			{{> 20_ui/tooltip/tooltip
				copy = this.tooltip
			}}
		{{/if}}
	</span>
</label>
