<label class="radio-labeled {{{classes}}}" {{{params}}}>
	<input type="radio" name="{{{name}}}" {{#if checked}}checked{{/if}} {{{childParams}}}>
	<span class="metadata">
		{{{title}}}
	</span>
</label>
