<div class="toggle {{{classes}}}" {{{params}}}>
	<a href="javascript:;" class="is-active" data-value="{{{value1}}}">{{{label1}}}</a>
	<a href="javascript:;" data-value="{{{value2}}}">{{{label2}}}</a>
</div>
