<ul class="accordion accordion--alt {{{classes}}}" data-accordion>

	<li>
		<a href="javascript:;" class="accordion--toggle" data-accordion-id="faq1">
			What is the KEEN Custom Policy?
			{{svg 'icon-plus' classes='plus'}}
		</a>
		<div class="accordion--content">
			<div>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita corporis, nemo facere voluptatibus libero nulla odit animi labore, mollitia similique odio consectetur ab. Facere ipsa, cum in sunt! Assumenda, animi.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita corporis, nemo facere voluptatibus libero nulla odit animi labore, mollitia similique odio consectetur ab. Facere ipsa, cum in sunt! Assumenda, animi.</p>

				{{> 04_buttons/button
					title	= 'Request Replacement Laces'
					linkURL	= '#modal-replacement'
					params	= 'data-inline-popup'
				}}

				<div class="helpful--was-it">
					<span>Helpful?</span>
					<a href="javascript:;">Yes</a>
					<span>/</span>
					<a href="javascript:;">No</a>
				</div>

			</div>
		</div>
	</li>

	<li>
		<a href="javascript:;" class="accordion--toggle">
			Does KEEN offer replacement laces?
			{{svg 'icon-plus' classes='plus'}}
		</a>
		<div class="accordion--content">
			<div>

				<span class="accordion--heading">Details</span>

				<ul class="list bullets">
					<li>Arriving next business day</li>
					<li>Orders must be placed before noon Pacific Time</li>
					<li>Orders placed afterthis time will ship the following business day</li>
				</ul>

				<span class="accordion--heading">Please note</span>

				<ul class="list bullets">
					<li>We cannot deliver to PO Boxes</li>
					<li>All orders are subject to local sales tax</li>
					<li>Saturday delivery is not available</li>
					<li>APO Addresses can only be sent on a standard US Postal mail service and transit times may take longer than show above</li>
				</ul>

				<div class="inline-table">
					<div class="row">
						<div class="col dark-text">United States</div>
						<div class="col">Fedex ($25)</div>
					</div>
					<div class="row">
						<div class="col dark-text">Canada</div>
						<div class="col">N/A</div>
					</div>
					<div class="row">
						<div class="col dark-text">Europe</div>
						<div class="col">N/A</div>
					</div>
					<div class="row">
						<div class="col dark-text">Asia / AU / NZ</div>
						<div class="col">N/A</div>
					</div>
				</div>

				<div class="helpful--was-it">
					<span>Helpful?</span>
					<a href="javascript:;">Yes</a>
					<span>/</span>
					<a href="javascript:;">No</a>
				</div>

			</div>
		</div>
	</li>

	<li>
		<a href="javascript:;" class="accordion--toggle">
			Can I get my KEEN shoes re-soled?
			{{svg 'icon-plus' classes='plus'}}
		</a>
		<div class="accordion--content">
			<div>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dignissimos soluta! Quos soluta vel est recusandae architecto! Quis dolor repellendus totam maiores minima labore, ipsum qui tempora unde possimus! Accusantium.</p>

				<ul class="list bullets">
					<li>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
					<li>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
					<li>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
				</ul>

				{{> 04_buttons/button
					title	= 'Here is a link cta'
				}}

				<div class="helpful--was-it">
					<span>Helpful?</span>
					<a href="javascript:;">Yes</a>
					<span>/</span>
					<a href="javascript:;">No</a>
				</div>

			</div>
		</div>
	</li>

	<li>
		<a href="javascript:;" class="accordion--toggle">
			Can I get my KEEN shoes re-soled?
			{{svg 'icon-plus' classes='plus'}}
		</a>
		<div class="accordion--content">
			<div>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dignissimos soluta! Quos soluta vel est recusandae architecto! Quis dolor repellendus totam maiores minima labore, ipsum qui tempora unde possimus! Accusantium.</p>

				{{> 20_ui/video/video-player
					classes			= 'video-player--fw'
					text			= 'Play Video'
					videoProvider	= 'vimeo'
					videoID			= '172494315'
					posterURL		= '/images/collection-detail/bleed-banner-video-product-tiles.jpg'
				}}

				<div class="helpful--was-it">
					<span>Helpful?</span>
					<a href="javascript:;">Yes</a>
					<span>/</span>
					<a href="javascript:;">No</a>
				</div>

			</div>
		</div>
	</li>

	<li>
		<a href="javascript:;" class="accordion--toggle">
			Can I get my KEEN shoes re-soled?
			{{svg 'icon-plus' classes='plus'}}
		</a>
		<div class="accordion--content">
			<div>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dignissimos soluta! Quos soluta vel est recusandae architecto! Quis dolor repellendus totam maiores minima labore, ipsum qui tempora unde possimus! Accusantium.</p>

				<div class="inline-info" style="background-image:url('../assets/images/pro-application/help-accordion-content.jpg');">
					<span class="accordion--heading">Godspeed delivery</span>
					<p>(505) 555 - 5555<br>123 Blockbuster Ave.<br>Chicago, IL 97877</p>
					<a href="javascript:;">www.godspeed.com</a>
				</div>

				<span class="accordion--heading">See if you qualify for Chicago messenger service</span>

				<p>Enter the zip code associated with your shipping address in the form field below to see if you qualify for our Same-Day or Next-Day Messenger Delivery Service.</p>

				<form>
					<fieldset>
						<input type="text" class="zipcode" name="zipcode" maxlength="5" placeholder="Enter Zip Code" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || !event.charCode">
					</fieldset>
				</form>

				<div class="alert success">
					{{!-- <img src="../assets/images/icons/alert-success.svg" class="svg"> --}}
					{{!-- {{svg 'alert-success'}} --}}
					<span class="accordion--heading">Whoot!! You Qualify For SAME-Day Messenger Service in Chicago.</span>
					<p>Make sure to select Messenger Service within the Shipping Options when checking out.</p>
				</div>

				<div class="alert error">
					{{!-- <img src="../assets/images/icons/alert-error.svg" class="svg"> --}}
					{{!-- {{svg 'alert-error'}} --}}
					<span class="accordion--heading">Sorry, you do not qualify for messenger service in chicago.</span>
					<p>Your zip code is out of range for our messenger service. Let us know when you move!</p>
				</div>

				<div class="alert neutral">
					{{!-- <img src="../assets/images/icons/alert-neutral.svg" class="svg"> --}}
					{{!-- {{svg 'alert-neutral'}} --}}
					<span class="accordion--heading">Bummer. The zip code you entered is invalid.</span>
					<p>Don’t give up! Please re-enter a valid 5-digit zip code.</p>
				</div>

				<div class="helpful--was-it">
					<span>Helpful?</span>
					<a href="javascript:;">Yes</a>
					<span>/</span>
					<a href="javascript:;">No</a>
				</div>

			</div>
		</div>
	</li>

	<li>
		<a href="javascript:;" class="accordion--toggle">
			Can I get my KEEN shoes re-soled?
			{{svg 'icon-plus' classes='plus'}}
		</a>
		<div class="accordion--content">
			<div>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dignissimos soluta! Quos soluta vel est recusandae architecto! Quis dolor repellendus totam maiores minima labore, ipsum qui tempora unde possimus! Accusantium.</p>

				<span class="accordion--heading">How to make a return</span>

				<ol class="list">
					<li>Please request an RMA and wait for approval.</li>
					<li>If your RMA is approved, include your RMA approval in the return package.</li>
					<li>Use our prepaid USPS label included with your original order (domestic only). Attach this to your package and send it on its way. Please keep your return tracking number for reference! This serves as your proof of delivery.</li>
				</ol>

				{{> 04_buttons/button
					title	= 'Request rma with account'
				}}

				{{> 04_buttons/button
					title	= 'Request rma as a guest'
				}}

				<span class="accordion--heading">REPACKAGE YOUR ITEMS IN THE ORIGINAL PACKAGING, IF POSSIBLE.</span>

				<p>Do not use your KEEN shoe box as the mailing package. Please place footwear in the shoebox and then in a larger box to mail to us. We can’t resell a pair of shoes in your hand-written, taped and mailed gnarly shoebox, can we? It’s much nicer this way, thanks.</p>

				<span class="accordion--heading">AS NEW CONDITION</span>

				<p>"As new" condition for KEEN is unwashed and unworn. KEEN strongly recommends you store your item in its original packaging while you make a decision about the product.</p>

				<div class="helpful--was-it">
					<span>Helpful?</span>
					<a href="javascript:;">Yes</a>
					<span>/</span>
					<a href="javascript:;">No</a>
				</div>

			</div>
		</div>
	</li>

</ul>
