<header class="styleguide-header">
	<span class="toggle-sidebar">Menu |</span>
	<span class="styleguide-meta">{{{@root._data.clientName}}} Styleguide - v.{{{@root._data.version}}} | {{{@root._data.date}}}</span>
	<nav class="styleguide-header-breakpoints">
		<ul>
			<li>Sizes:</li>
			{{#each @root._data.breakpoints}}
			<li>
				<a href="javascript:;" class="breakpoint-toggle-{{id}}" data-breakpoint-size={{id}}></a>
			</li>
			{{/each}}
		</ul>
	</nav>
</header>
