<h2 class="styleguide-module__title">{{name}}</h2>

{{#each items.tables}}
	<table class="snippet {{this.tableClass}}">
		{{#if head}}
		<thead>
			<tr>
				{{#each head}}
					<th>{{this}}</th>
				{{/each}}
			</tr>
		</thead>
		{{/if}}
		{{#if body}}
			<tbody>
				{{#each body}}
					<tr>
						{{#each td}}
							<td>{{this}}</td>
						{{/each}}
					</tr>
				{{/each}}
			</tbody>
		{{/if}}
		{{#if footer}}
			<tfoot>
				<tr>
					{{#each footer}}
						<td>{{this}}</td>
					{{/each}}
				</tr>
			</tfoot>
		{{/if}}
	</table>
{{/each}}
