<h2 class="styleguide-module__title">{{name}}</h2>

{{!-- Accessing parent index from 2D array {{@../index}} --}}

<div id="{{id}}">
	{{#each items}}
	<div class="row">
		{{#each this}}
			{{#if videos.length}}
				{{#each videos}}
					<div class="columns-{{counter @../index}}">
						<figure class="aspect video">
							<a href="{{url}}" class="video-player"></a>
							<img src="" alt="" class="video-thumb">
							<span class="play-button"></span>
						</figure>
					</div>
				{{/each}}
			{{/if}}
			{{#if images}}
				{{#each images}}
					<div class="columns-{{../images.length}}">
						<img src="{{src}}" />
					</div>
				{{/each}}
			{{/if}}
		{{/each}}
	</div>
	{{/each}}
</div>
