<h2 class="styleguide-module__title">{{name}}</h2>

{{!-- Accessing parent index from 2D array {{@../index}} --}}

<div id="{{id}}">
	{{#each items}}
	<div class="row">
		{{#each this}}
			{{#if videos.length}}
				{{#each videos}}
					<div class="col-{{counter @../index}}">

						{{> 20_ui/video/video-player
							classes         = 'video-player--fw'
							videoProvider	= provider
							videoID			= url
							posterURL		= ''
							text            = text
						}}

					</div>
				{{/each}}
			{{/if}}
			{{#if images}}
				{{#each images}}
					<div class="col-{{../images.length}}">
						<img src="{{src}}" />
					</div>
				{{/each}}
			{{/if}}
		{{/each}}
	</div>
	{{/each}}
</div>
